html {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: large;
}

button {
    font-size: large;
}

div.calculator {
    width: 50%;
}
/* TOP */
div.top {
    display: flex;
    margin-bottom: 20px;
    gap: 2px;
}

div.display {
    width: 70%;
    background-color: #e9e9ed;
    border: 2px solid black;
    border-radius: 5px;
    overflow: auto;
    height: 2em;
}

button.button-clear {
    width: 30%;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

/* BOTTOM */
div.bottom {
    display: flex;
}

div.buttons {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
}

div.buttons button {
    margin: 2px;
    width: 25%;
}

div.operators {
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: stretch;
}

.operators button {
    height: 2em;
    margin: 2px;
}